/* body {
    background-image: url("https://i.imgur.com/9kuv324.png");
    align-content: left;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: white;
}
  */
  .split {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
  }

  .left {
    left: 0;
    background-color: white;
  }

.right {
  right: 0;
  background-color: white;
}

.container {
    height: 100%;
    width: 100%;
    padding-top: 1em;

}
.container img {
    padding-top: 1em;
    width: contain;
    height: auto;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: white;
    text-decoration: none;
}

.booton {
    /* padding-top: 1em;
    padding-bottom: 1em; */
    background-color: white;
    color: black;
    margin-bottom: 2em;
}

.sauce {
    padding-top: 3em;
    font-family: 'Anton', sans-serif;
}