{% extends "base.html" %}
{% load static %}

{% block styling %}
    <link rel="stylesheet" type="text/css" href="{% static "css/index.css" %}">
    <link href="https://fonts.googleapis.com/css?family=Anton&display=swap" rel="stylesheet">
{% endblock %}




{% block content %}

<div class="split right">
    <div class="centered">
        <h1 class="display-1 sauce">SAUCE PROTECC</h1>
        <p class="lead">Protect your original content with a custom search</p>
    </div>
    
    <div class= "container">
    <button  value="Search" class="btn btn-secondary btn-lg booton"><a href="{% url 'search'%}">Get Started Now</a></button>
  </div>
</div>

<div class="split left">
  <div class="left container">
    <img src="https://i.imgur.com/9kuv324.png"  alt="monster">
  </div>
</div>
    
     

{% endblock %}


