{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}

  <div class="content-section">
    <div class="media">
      {% comment %} <image class="rounded-circle account-img" src="{{ user.profile.image.url }}"> {% endcomment %}
    <div class="media-body">
    <p><h1 class="display-4">{{ user.username }}</h1><small class="text-muted">Email: {{ user.email }}</small></p>
        
    
      
        {% comment %} <h1 class="display-4">{{ user.username }}</h2>
        <p class="text-secondary">Email: {{ user.email }}</p> {% endcomment %}

        <ul class="list-group list-group-flush">
        <li class="list-group-item">Instagram: {{ user.profile.instagram }}</li>
        <li class="list-group-item">Twitter: {{ user.profile.twitter }}</li>
        <li class="list-group-item">Youtube:  {{ user.profile.youtube }}</li>
        <li class="list-group-item">Facebook:  {{ user.profile.facebook }}</li>
        <li class="list-group-item">Patreon:  {{ user.profile.patreon }}</li> 
        <ul>
      </div>
    </div>

    {% for image in user.image %}
        <img src="{{ user.image.image_address }}" />
    {% endfor %}

    <div>
        <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">Click to Update Profile</a>
    </div>

    <div class="collapse" id="collapseExample">
        <div class="card card-body">
            <form method="POST" enctype="multipart/form-data">
                {%csrf_token%}
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4">Update Profile Info</legend>
                        {{ u_form|crispy }}
                        {{ p_form|crispy }}
                </fieldset>

                <div class="form-group">
                    <button class="btn btn-outline-info" type="submit">Update</button>
                </div>
            </form>
        </div>
  </div>

{% endblock content %}
