{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}

  <div class="content-section">
    <div class="media">
      <image class="rounded-circle account-img" src="{{ user.profile.avatar.url }}">
      <div class="media-body">
        <h2 class="account-heading">{{ user.username }}</h2>
        <p class="text-secondary">Email: {{ user.email }}</p>
        <p>Instagram: {{ user.profile.instagram }}</p>
        <p>Twitter: {{ user.profile.twitter }}</p>
        <p>Youtube:  {{ user.profile.youtube }}</p>
        <p>Facebook:  {{ user.profile.facebook }}</p>
        <p>Patreon:  {{ user.profile.patreon }}</p> 
      </div>
    </div>

    <div>
        <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">Click to Update Profile</a>
    </div>

    <div class="collapse" id="collapseExample">
        <div class="card card-body">
            <form method="POST" enctype="multipart/form-data">
                {%csrf_token%}
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4">Update Profile Info</legend>
                        {{ u_form|crispy }}
                        {{ p_form|crispy }}
                </fieldset>

                <div class="form-group">
                    <button class="btn btn-outline-info" type="submit">Update</button>
                </div>
            </form>
        </div>
  </div>

{% endblock content %}
