{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block styling %}
<link rel="stylesheet" type="text/css" href="{% static "css/profile.css" %}">
<link href="https://fonts.googleapis.com/css?family=Anton&display=swap" rel="stylesheet">
{% endblock %}

{% block content %}

    <div class="profile-head">
    <p class="display-2 card-title banner tootle name-header">{{user.username}}</p>
    <p class="text-muted display-4 tootle">{{ user.email }}</p>
    </div>

     <div class="profile-head">
     <p class="lead card-title banner tootle">Scroll down to explore your Results and Reports</p>   
    {% for image in images %}

        <div class="leftside d-flex justify-content-center align-items-center">
            <div class="col-md-2 mt-3 pt-2">
                <img src="{{ image.image_address }}" class="img-thumbnail" />
            </div>
            
            <div>
                <h2 class="font-weight-bold mb-3 black-text">{{ image.file_name}}</h2>
                <p class="mb-0">{{ image.date_posted }}</p>
            </div>
                
        </div>
        
        <div class="rightside d-flex justify-content-center align-items-center">
            <div class="no-gutters col-md-6">
                <table class="table table-hover table-borderless">
                    <tbody>
                        {% for result in image.results %}
                            <tr class=>
                                <td><a href="{{result}}">{{ result }}</td>
                            </tr>
                        {% endfor %}
                        {% for report in image.reported %}
                            <tr>
                                <td><a class="report-link" href="{{report}}">{{report}}></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    {% endfor %}

{% endblock content %}
