{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}

  <body>
    <section>
    {% if form.errors %}
    <p>Something's afoot</p>
    {% endif %}
    
    <form action='/upload/' method="post">
    {% csrf_token %}

    <fieldset class="formgroup">
      <legend class="border-bottom mb-4">Upload Image</legend>
      <input type="hidden" id="csrf_token" value='{"csrfmiddlewaretoken": "{{ csrf_token }}"}'>
    </fieldset> 
      <p>
        <label for="file_name">Name of Image (including file type):</label>  
        <input type="text" name="file_name"></input>
      </p>
      
      <p>
        <label for="image_address">Image address:</label>  
        <input type="text" name="image_address"></input>
      </p>
      
      <p>
        <label for="whitelist">Site posted (optional):</label>
        <input type="text" name="whitelist"></input>
      </p>
      
      <p>
        <label for="description">Description (optional):</label>  
        <input type="text" name="description"></input>  
      </p>
      
      <div class="form-group">
        <button type="submit" value="Upload" class="btn btn-outline-info">Upload</button>
      </div>   
    </form>
  </section>
{% endblock content %}